body {
  background-color: rgb(250, 220, 225);
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 220, 225);
  text-align: center;
  position: fixed;
  padding: 22px;
  width: 100%;
  top: 0%;
  align-items: center;
}
.logo {
  font-size: 30px;
}

.btn1 {
  background-color: rgb(248, 44, 78);
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  padding: 0 1rem;
  text-decoration: none;
  margin-inline: 20px;
  color: black;
  font-size: 20px;
}

/* hero section started  */

.hero {
  /* padding-top: 140px; */
  padding: 100px 10px 10px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hero .left {
    margin:  0 0 0 120px; text-align: left;
}

.hero .left h2 {
  font-size: 55px;
  text-align: left;
  /* padding: 0 0 25px 50px; */
}
.hero .left p {
  font-size: 20px;
  margin: 20px 0;
}
.btn2{
    background-color: rgb(248, 44, 78);
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.hero-img{
    padding: 0 46px 0 0 ;
}



/* common subheading  */
.sub-section {
    text-align: center;
    font-size: 25px;
    padding: 0 0 50px 0;
}
.sub-section .main-content {
    color: rgb(248, 44, 78);
}

.sub-section h2{
    margin:  30px 0 ;
}
/* destination section  */


.places {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.places .card{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-inline: 20px;
    background-color: #fff;
    margin-top: 22px;
}

.places .card img{
    width: 100%; height: 250px;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px 0;
}



/* Package section  */


.packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.packCard img {
    height: 230px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.packCard{
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 0 0 10px 0;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; position: relative;
}

    .packCard .pack-content {
        display: flex;
        justify-content: space-between;
        padding:  10px;
    }
.pack-content .pack-name{
    font-size: 20px;
}
.pack-content .offer{
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: #fff;
    padding: 10px;
    border-radius: 34px;
    font-size: 20px;
    font-weight: 600;
}



.pack-btn{
    width: 80px;
    height: 28px;
    border-radius: 22px;
    background-color: rgb(250, 17, 56);
    color: white;
    border: none;
    font-size: 16px;
    /* margin-left: 11px; */
    /* margin-top: 11px; */
}

.footer-contenct{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 8px;
        align-items: center;
    text-align: center;
}